<p>&nbsp;</p>

<p>&nbsp;</p>

<p>The Frag-o-Matic F1 compo will be held on the racing setups provided by Red Bull in the middle of the hall.</p>

<p>In brief:</p>

<ul>
	<li>Time Trials between Friday 22:00 and Saturday 22:00
	<ul>
		<li>Registration will remain open until the end of the Trials!</li>
	</ul>
	</li>
	<li>Everyone can place best times as many times as they want within this period</li>
	<li>Best times can be recorded on the Compo Desk (or the Discord Channel) by providing a screenshot of your time.</li>
	<li>The best 4 times will advance to the Playoffs (on Sunday)</li>
</ul>

<p>More details on the Rulebook tab.</p>

