<p dir="ltr" style="text-align:center"><strong>League of Legends: 1v1 Compo - Rulebook FoM 26.0</strong></p>

<p><a name="navigation"></a></p>

<p><strong>Quick Navigation</strong></p>

<hr />
<p>&nbsp;</p>

<ul>
	<li><a href="#general">1 - General Rules</a></li>
	<li><a href="#competition">2 - Competition Rules</a>
	<ul>
		<li><a href="#overview">2.1 - Overview</a></li>
		<li><a href="#signin">2.2 - Sign In</a></li>
		<li><a href="#rules">2.3 - Compo Rules</a></li>
		<li><a href="#structure">2.4 - Compo Structure</a></li>
	</ul>
	</li>
	<li><a href="#admin">3 - Admin Details</a></li>
</ul>

<p>&nbsp;</p>

<p><br />
<a name="general"></a></p>

<p><strong>1. General rules</strong></p>

<hr />
<ul>
	<li>Be sure to read the <a href="http://www.fom.be/contents/view/general-competition-rules"><strong>general rulebook</strong></a>. These are the main rules of Frag-o-Matic and should always be respected.</li>
</ul>

<p style="text-align:right"><a href="#navigation" style="color:#17587f;">Back to top</a></p>

<p><a name="competition"></a></p>

<p><strong>2 - Competition rules</strong></p>

<hr />
<p><a name="overview"></a></p>

<p><strong>2.1 - Compo Overview</strong></p>

<ul>
	<li>Title: League of Legends 1v1</li>
	<li>Size: Fast</li>
	<li>Max teams: 128</li>
	<li>Gametype: 1v1</li>
</ul>

<p><br />
<a name="signin"></a></p>

<p><strong>2.2 - Sign In</strong></p>

<ul>
	<li>Sign in will close:&nbsp;Saturday at 10:00</li>
	<li>Tournament will start:&nbsp;Saturday&nbsp;at 12:00</li>
	<li><strong>Every player must add their League of Legends summoner name, seat number and clan tag to the team description!</strong></li>
	<li><strong>Additional every contestant must join our <a href="https://discord.gg/BmAubhk">Discord Server</a> and change their nickname to their nickname on the FOM website.</strong></li>
	<li>There can only be one player per team.</li>
</ul>

<p><br />
<a name="rules"></a></p>

<p><strong>2.3 - Compo Rules</strong></p>

<ul>
	<li>Game Settings:
	<ul>
		<li>Map: Howling Abyss</li>
		<li>Team size: 1</li>
		<li>Game Type: Blind Pick</li>
		<li>Name: FoM 1v1 player a vs player b</li>
		<li>Password: fom</li>
	</ul>
	</li>
	<li>Bans:
	<ul>
		<li>Before the game, in the lobby chat each player bans 3 champions.</li>
		<li>Each player bans a champion alternating between players until there are 6 bans total.</li>
		<li>Take a screen shot of the bans to avoid any confusion later.</li>
		<li>These 6 champions may not be played by either of the players. </li>
	</ul>
	</li>
	<li>Regame:
	<ul>
		<li>A regame is allowed if both players and the compo admin agree it is needed to play a fair and balanced match.&nbsp;</li>
		<li>If a player cannot connect to a game before it has started because of a bug, the game has to be restarted. A screenshot of the bug is required!</li>
	</ul>
	</li>
	<li>Schedule Problems:
	<ul>
		<li>The schedule must be followed. If a game hasn&rsquo;t started within 15 minutes of the scheduled match time, the admin may decide to forfeit the game. If both players are absent, both players may be forced to forfeit their game.</li>
		<li>To avoid forfeiting when the opposing team doesn&rsquo;t show. Take a screenshot the game lobby with the correct name and password and if possible invites to the opposing team. Contact the compo admin as soon as you have this screenshot.</li>
	</ul>
	</li>
	<li>New &amp; reworked champions:
	<ul>
		<li>New &amp; reworked champions are banned for 14 days, starting the day they are released.</li>
		<li>if a champion is banned because of this rule during any match of the tournament, the champion will be banned for the entire tournament.</li>
		<li>Banned champions:
		<ul>
			<li>None</li>
		</ul>
		</li>
	</ul>
	</li>
	<li>Cheats:
	<ul>
		<li>Any actions, that results in an unfair advantage, are illegal.</li>
		<li>This includes bug abuse of any kind.</li>
	</ul>
	</li>
	<li>Disconnects:
	<ul>
		<li>If a player disconnects during a game and is unable to re-connect to finish the game, that disconnecting player forfeits the game.</li>
		<li>There will be NO exceptions regardless of when the disconnect occurred. If both players disconnect the game must be replayed immediately without a break between games.</li>
	</ul>
	</li>
	<li>Win Conditions:
	<ul>
		<li>First blood</li>
		<li>First tower killed</li>
		<li>First to 100 creep score</li>
		<li>Take a screenshot of your victory</li>
	</ul>
	</li>
	<li>Contacting the Compo Admin:
	<ul>
		<li><strong>Ask questions in the LoL channel on our Discord server.</strong></li>
		<li>You can contact the admin in game via their summoner name listed below.</li>
		<li>If you can&#39;t contact the admin online, visit the compo desk.</li>
	</ul>
	</li>
</ul>

<p><a name="structure"></a></p>

<p><strong>2.4 - Compo Structure</strong></p>

<ul>
	<li>Groupstages: Slingle Elimination</li>
	<li>Brackets: Single Elimination</li>
	<li>Finals: BO3 starts from Semi-finals</li>
</ul>

<p style="text-align:right"><a href="#navigation" style="color:#17587f;">Back to top</a></p>

<p><a name="admin"></a></p>

<p><strong>3 - Admin Details</strong></p>

<hr />
<ul>
	<li>Discord:<br />
	<a href="https://discord.gg/BmAubhk">https://discord.gg/BmAubhk</a><br />
	<strong>This will be our main channel for communication. Please join it.</strong></li>
	<li>Name: Marlon (The_Blackguarde)</li>
	<li>Contact: <a href="mailto:The_Blackguarde@fom.be">The_Blackguarde@fom.be</a></li>
	<li>In Game: TheBlackguarde</li>
</ul>

<p style="text-align:right"><a href="#navigation" style="color:#17587f;">Back to top</a></p>

<p><small>The admin is allowed to change these rules at any time without any notification.<br />
The admin is allowed to overrule the rulebook. </small></p>
