<p dir="ltr" style="text-align:center"><strong>League of Legends: 1v1 Compo - Schedule FoM 26.0</strong></p>

<p>&nbsp;</p>

<p><strong>Groupstages: (Best of 1)</strong></p>

<p>Round 1: Saturday&nbsp;12:00 &ndash; 13:00</p>

<p>Round 2: Saturday&nbsp;14:00 &ndash; 15:00</p>

<p>Round 3: Saturday&nbsp;16:00 &ndash; 17:00</p>

<p><strong>Brackets: (Best of 1)</strong></p>

<p>Round 1 (64 players): Saturday 19:00 &ndash; 20:00</p>

<p>Round 2 (32 players): Saturday&nbsp;21:00 &ndash; 22:00</p>

<p>Round 3 (16 players): Saturday&nbsp;23:00 &ndash; 00:00</p>

<p>Round 3 (8 players): Saturday&nbsp;01:00 &ndash; 02:00</p>

<p>&nbsp;</p>

<p><strong>Semi Final: (Best of 3)</strong> Sunday 11:00</p>

<p><strong>Final: (Best of 3)</strong> Sunday 13:00</p>

<p><small>Teams not on schedule can be forced to forfeit by the compo admin.</small></p>
