<p><span style="font-size:20px"><strong>Discord</strong></span></p>

<p>Discord will be our main channel of communication. Be sure to join it at <a href="https://discord.gg/8SfUy36" target="_blank">https://discord.gg/8SfUy36</a> and change your nickname to your FOM.be username.</p>

<p>&nbsp;</p>

<p><span style="font-size:20px"><strong>Frag-o-Matic</strong></span></p>

<p>Frag-o-Matic is a serie of gaming festivals that are taking place at least two times a year by organising the biggest Belgian gaming event. During our event each participant brings his own PC or laptop with him to activate it on the Frag-o-Matic network. Through this network multiple gaming competitions are organised, most of the time sponsored with great prize packages. Next to these competitions there are many other activities taking place and each event has his own theme, creating a unique atmosphere.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:20px"><strong>Rules</strong></span></p>

<p>Be sure to read the general rules found&nbsp;<a href="http://www.fom.be/contents/view/general-competition-rules">here</a> and the game specific rules found under the &lsquo;Rulebook&rsquo; tab at the top op the page.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>

<p><span style="font-size:20px"><strong>Schedule</strong></span></p>

<p>The schedule&nbsp;can be found by pressing the &lsquo;Schedule&rsquo;&nbsp; tab at&nbsp;the top of the page.</p>

<p>&nbsp;</p>

<p>&nbsp;</p>


<p><strong><span style="font-size:20px">Question</span></strong></p>

<p>Still have questions? Join our Discord server or visit the compo-desk on site.</p>
	<li>Discord:<br />
	<a href="https://discord.gg/BmAubhk">https://discord.gg/BmAubhk</a><br />
	<strong>This will be our main channel for communication. Please join it.</strong></li>
<hr />
<p>Name: Marlon (The_Blackguarde)</p>
Contact:
<ul>
	<li>Mail: <a href="mailto:The_Blackguarde@fom.be">The_Blackguarde@fom.be</a></li>

</ul>
