<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Friday:</span></p>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Poules (teams of 4 and 3) (BO3)</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Game 1: 22:30</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Game 2: 23:30</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Game 3: 00:30</span></p>

<p dir="ltr">&nbsp;</p>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Saturday:</span></p>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Double elimination brackets</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Upper bracket: (BO5)</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Game 1 (ro16): 11:00 &ndash; 12:30</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Game 2 (ro8): 12:30 &ndash; 14:30</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Game 3 (ro4): 15:00 &ndash; 18:00</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Game 4 (UB Finals): 18:30 &ndash; 21:30 (BO5)</span><br />
&nbsp;</p>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Lower bracket: (BO3)</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Round 1 (ro8) : 15:00</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Round 2 (ro4): 16:30</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Round 3 (ro4): 18:00</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Round 4 (ro2): 19:30 (BO5)</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Lower bracket Finals: 21:30 &ndash; 00:00</span></p>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Sunday: (BO7)</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Grand Finals: 10:00</span></p>

