<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Friday:</span></p>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Poules (teams of 4 and 3) (BO3)</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Game 1: 23:00</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Game 2: 24:00</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Game 3: 01:00</span></p>

<p dir="ltr">&nbsp;</p>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Saturday:</span></p>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Double elimination brackets</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Upper bracket: (BO5)</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Game 1 (ro16): 13:00</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Game 2 (ro8) : 15:00</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Game 3 (ro4) : 17:00</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Game 4 (UB Finals): 19:00 (BO7)</span></p>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Lower bracket: (BO3)</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Round 1 (ro8): 17:00</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Round 2 (ro4): 19:00</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Round 3 (ro4): 21:00</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Round 4 (ro2): 23:00 (BO5)</span><br />
&nbsp;</p>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Sunday: (BO7)</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Lower Bracket Finals: 11:00</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Grand Finals: 13:00</span></p>

<p dir="ltr">&nbsp;</p>

<p dir="ltr"><img alt="" src="https://i.imgur.com/9tkHh8z.png" style="max-width:100%" /></p>

