<p dir="ltr"><strong>1. General rules</strong><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Be sure to read the general rulebook. These are the main rules of Frag-o-Matic and should always be respected.</span></p>

<p dir="ltr">&nbsp;</p>

<p dir="ltr"><strong>2 - Competition rules</strong></p>

<p dir="ltr"><strong>2.1 - Compo Overview</strong></p>

<ul style="list-style-type:square">
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Title: Rocket League 1v1</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Size: Fun compo</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Max teams: 64</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Gametype: 1v1</span></p>
	</li>
</ul>

<p dir="ltr">&nbsp;</p>

<p dir="ltr"><strong>2.2 - Sign In</strong></p>

<ul style="list-style-type:square">
	<li dir="ltr">
	<p dir="ltr"><span style="font-family:verdana; font-size:12.6667px">Sign in will close saturday at 10:00.</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="font-family:verdana; font-size:12.6667px">Tournament will start saturday at 12:00</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Every team must add all of Steam accountnames and seat numbers to the team description!</span><br />
	&nbsp;</p>
	</li>
</ul>

<p dir="ltr"><strong>2.3 - Compo Rules</strong></p>

<ul style="list-style-type:square">
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Game Settings:</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Map: DFH Stadium</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Team size: 1</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Allow Spectators: On full permission of both teams</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Game Type: Single Elimination&nbsp;</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Name: Team a vs team b. ex: Ponyrun vs loco123</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Password: fom</span></p>
	</li>
</ul>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Disconnects / Regame:</span></p>

<ul style="list-style-type:square">
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">If a player disconnects or announce an issue before the first 30 seconds in the game and while there has no goal scored yet. The game has to be restarted. In any other situation the game continues.</span><br />
	<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Abuse of the this function in any way, may lead to a forfeit..</span></p>
	</li>
</ul>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Regame:</span></p>

<ul style="list-style-type:square">
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">A regame is allowed if both teams agree it is needed to play a fair and balanced match.</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">If a player cannot connect to a game before it has started because of a bug, the game has to be restarted. A screenshot of the bug is required!</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">The schedule must be followed. If a game hasn&rsquo;t started within 15 minutes of the scheduled match time, the admin may decide to forfeit the game. If both teams are absent, both teams may be forced to forfeit their game.</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">To avoid forfeiting when the opposing team doesn&rsquo;t show. Take a screenshot of your entire team in a game lobby with the correct name and password and if possible invites to the opposing team. Contact the compo admin as soon as you have this screenshot.</span></p>
	</li>
</ul>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Spectators:</span></p>

<ul style="list-style-type:square">
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Spectators are allowed only if both teams agree to it.</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Only invite spectators you trust. Once a game has started protests against spectators will no longer be allowed.</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Admins or people assigned by an admin, like shoutcasters, are allowed to spectate any match. It can&rsquo;t be refused to invite an admin or someone assigned by an admin.</span></p>
	</li>
</ul>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Missing Player:</span></p>

<ul style="list-style-type:square">
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">You need 1 player&nbsp;on a team to play a match.</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">If a team is missing a player, the admin may decide to forfeit the game.</span></p>
	</li>
</ul>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Cheats:</span></p>

<ul style="list-style-type:square">
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Any actions, that results in an unfair advantage, are illegal.</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">This includes bug abuse of any kind.</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Picking Sides:</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">The higher seeded team chooses which side they play.</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">if this is unclear, please contact an admin.</span><br />
	​</p>
	</li>
</ul>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt"><span style="background-color:transparent; font-size:9.5pt">Win Conditions:</span></span></p>

<ul style="list-style-type:square">
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">A team wins a game by scoring more goals than his opponent.</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Both teams are required to take a screenshot of the after game lobby.</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Keep this screenshot saved on your computer during the tournament.</span></p>
	</li>
</ul>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Contacting the Compo Admin:</span></p>

<ul dir="ltr">
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">You can contact the admin via discord&nbsp;</span><strong>tba</strong>&nbsp;</li>
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">If you can&#39;t contact the admin online, visit the compo desk.</span></li>
	<li><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Discord:&nbsp;</span>https://discord.gg/zyxzvxN</li>
</ul>

<p dir="ltr"><strong>2.4 - Compo Structure</strong></p>

<ul style="list-style-type:square">
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Brackets: single elimination (BO3)</span></p>
	</li>
	<li dir="ltr">
	<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">Final: BO5</span></p>
	</li>
</ul>

<p dir="ltr"><strong>3 - Admin Details</strong></p>

<ul>
	<li dir="ltr">
	<p dir="ltr"><strong>tba</strong></p>
	</li>
</ul>

<p dir="ltr"><span style="background-color:transparent; font-family:verdana; font-size:9.5pt">The admin is allowed to change these rules at any time without any notification.</span><br />
<span style="background-color:transparent; font-family:verdana; font-size:9.5pt">The admin is allowed to overrule the rulebook.</span></p>

